h1 {
  color: red;
}
img {
  width: 500px;
  height: 500px;
}
.active {
  color: blue;
}
.tec {
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}
.tec img {
  width: 200px;
  height: 200px;
}
