<p>{{name | uppercase}}</p>
<p>{{nameTwo | lowercase}}</p>
<p>{{name | titlecase}}</p>

<br>

<p>{{myDate | date : 'dd-MMM-yy HH:mm'}}</p>

<p>{{grade | percent : '2.2-3'}}</p>

<p>{{price | currency : 'EUR' : true: '2.3-3'}}</p>

<p>{{price | number : '3.2-5'}}</p>
<p>{{{name:'angular',version:18}|json}}</p>
<p>{{'angular'|slice:1:4}}</p>
<p>{{[1,2,3,4,5]|slice:1:3}}</p>
<p>{{asyncData|async}}</p>
<p>{{myDate|date:'loginData'|uppercase}}</p>
<p>{{'this is my text'|nospace}}</p>